@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-layouts/styles/material.css";

:root {
  --primary-color: #1f1f36;
  --secondary-color: #7f7e83;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.fullHW {
  height: 100%;
  width: 100%;
}

.fullH {
  height: 100%;
}

.fullW {
  width: 100%;
}

.noBO {
  border: none;
  outline: none;
}

.noMP {
  margin: 0 !important;
  padding: 0 !important;
}

.ant-menu-item {
  width: 100% !important;
}

.ant-drawer-body {
  padding: 0 !important;
}

.smallIcon {
  height: 20px;
  width: 20px;
}

.vSmallIcon {
  height: 16px;
  width: 16px;
}

.mediumIcon {
  height: 27px;
  width: 27px;
}
