.standardHeader {
  width: 100%;
  background: transparent;
  padding: 0;
  height: fit-content;
}

.secondLayout {
  background: #f9fbfc;
  padding: 40px 32px;
}

.hello {
  font-weight: 600;
  font-size: 1.5rem;
}

.helloDesc {
  font-weight: 400;
  font-size: 1.125rem;
  color: #7f7e83;
}

.createButton {
  width: 233px;
  height: 44px;
  font-weight: 600;
  font-size: 1rem;
}

@media (max-width: 900px) {
  .helloFlex {
    justify-content: center;
    align-items: center;
  }
}

.helloFlex {
  row-gap: 15px !important;
  text-align: center;
  overflow: hidden;
  height: fit-content !important;
}

.helloSubFlex {
  height: fit-content !important;
}

.contentContainer {
  padding-top: 32px;
}