.standardHeader {
  height: 67px;
  width: 100%;
  background: transparent;
  padding: 0;
  margin-bottom: 10px;
}

.secondLayout {
  background: #f9fbfc;
  padding: 40px 32px;
}

.smallIcon {
  height: 20px;
  width: 20px;
}

.hello {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.helloDesc {
  font-weight: 400;
  font-size: 1.125rem;
  color: #7f7e83;
}

.createButton {
    width: 233px;
    height: 44px;
}

@media (max-width: 769px) {
    .helloFlex {
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }
}