.authContainer {
  height: 100%;
  width: 100%;
  background-image: url("../../assets//images/auth-img.webp");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carouselContainer {
  box-shadow: 0 0 40px rgba(31, 31, 54, 0.2);
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  text-align: center;
  width: 90%;
}

.myForm {
  padding: 40px 25px;
}

.authTitle {
  font-weight: 700 !important;
  font-size: 1.75rem !important;
}

.authHeader {
  margin-bottom: 36px;
}

.authSubHeader {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 12px;
  margin-bottom: 12px !important;
}

.authDesc {
  font-weight: 400;
  font-size: 1.125rem;
  margin-bottom: 10px !important;
  display: block;
}

.authSubmit {
  margin-bottom: 5px !important;
}

@media (min-width: 500px) {
  .carouselContainer {
    width: 80%;
  }
}

@media (min-width: 750px) {
  .carouselContainer {
    width: 60%;
  }
}

@media (min-width: 1050px) {
  .carouselContainer {
    width: 40%;
  }
}
